<!DOCTYPE html>
<html>
  <head>
    <title>MTRailsProject</title>
    <%= csrf_meta_tags %>



    
    
  </head>

  <body>
  <% cameras_path do |camera| %>
<div style="border: 1px solid; background: aliceblue">
<%= camera.type %> </br>
<%=	camera.model%> </br>
<%= camera.serial %>  </br>
<%= camera.sku %> </br>
<%= camera.review %> </br>
</div>
<% end %>
    <%= yield %>
  </body>
</html>
